@media (max-width: 1120px) {

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {


  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    position: relative;
  }

  .slider_section .img-box {
    width: 100%;
    margin: 0;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .service_section .service_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_section .box {
    margin: 25px;
  }

  .service_section .box .name h6 {
    color: #ffffff;
  }

  .service_section::before {
    height: 100%;
  }

  .portfolio_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }

  .navbar-brand img {
    width: 80px;
    margin-right: 5px;
  }

  .navbar-brand span {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }

  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }
}

@media (max-width: 576px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {

    left: 41.6%;
  }

  .custom_heading-container hr {
    display: none;
  }

  .service_section h2 {
    font-size: 25px;
  }

}

@media (max-width: 480px) {

  .layout_padding {
    padding: 10px 0;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .navbar-brand img {
    width: 50px;
    margin-right: 1px;
  }

  .navbar-brand span {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 1px;
  }

  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-size: 30px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    /* padding: 10px 20px; */
    font-size: 14px;
    color: #dbdada;
    text-align: center;
    text-transform: uppercase;
  }

  .info_section {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #021056;
    color: #ffffff;
  }

  .info_section .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 20px auto;
  }

  .info_section .info_social img {
    width: 40px;
    margin-left: 8px;
  }

  .footer_section p {
    font-size: 12px;
    color: #292929;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 420px) {
  /* .navbar img {
    width: 50px;
  }

  .navbar span {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
  } */
}

@media (max-width: 360px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }

  /* .navbar-brand img {
    width: 20px;
    margin-right: 5px;
  }

  .navbar-brand span {
    font-size: 9px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 5px;
  }

  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-size: 20px;
  } */
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }
}
