{% extends 'base.html' %}
{% set title = '' %}
{% block _content %}

<div class="hero_area">
    <!-- slider section -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/image_1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/image_2.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/image_3.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- end slider section -->
</div>

<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="d-flex flex-column align-items-end">
            <div class="custom_heading-container">
                <hr>
                <h2>
                    Sekolah Terdaftar
                </h2>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="service_container layout_padding2">
            <a href="">
                <div class="box">
                    <div class="img-box">
                        <img src="images/s-1.png" alt="" class="img-1">
                        <img src="images/s1-blue.png" alt="" class="img-2">
                    </div>
                    <div class="name">
                        <h6>
                            Nama Sekolah
                        </h6>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="box">
                    <div class="img-box">
                        <img src="images/s-2.png" alt="" class="img-1">
                        <img src="images/s2-blue.png" alt="" class="img-2">
                    </div>
                    <div class="name">
                        <h6>
                            Nama Sekolah
                        </h6>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="box">
                    <div class="img-box">
                        <img src="images/s-3.png" alt="" class="img-1">
                        <img src="images/s3-blue.png" alt="" class="img-2">
                    </div>
                    <div class="name">
                        <h6>
                            Nama Sekolah
                        </h6>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="box">
                    <div class="img-box">
                        <img src="images/s-4.png" alt="" class="img-1">
                        <img src="images/s4-blue.png" alt="" class="img-2">
                    </div>
                    <div class="name">
                        <h6>
                            Nama Sekolah
                        </h6>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="box">
                    <div class="img-box">
                        <img src="images/s-5.png" alt="" class="img-1">
                        <img src="images/s5-blue.png" alt="" class="img-2">
                    </div>
                    <div class="name">
                        <h6>
                            Nama Sekolah
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- end service section -->

<div class="hero_area">
    <!-- slider section -->
    <section class=" slider_section position-relative">

        <div class="slider_bg-container">

        </div>
        <div class="slider-container">

            <div class="detail-box">
                <h1>
                    Sambutan
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente illo sunt, unde quas
                    blanditiis dolorum laborum saepe sint itaque rerum placeat in quam dolores iste fugiat obcaecati.
                    Nam, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sapiente accusamus
                    repellat nisi quae nihil distinctio? Incidunt quibusdam fuga nemo quo quis molestiae, debitis labore
                    similique nostrum aperiam. Animi, blanditiis.
                </p>
                <div>
                    <a href="" class="slider-link">
                        Pelatih PKS
                    </a>
                </div>
            </div>
            <div class="img-box">
                <img src="/images/foto.jpeg" alt="image">
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>

<!-- news section -->

<section class="news_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/n-1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            MOTTO
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when
                            looking at its layout. The point of using Lorem
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/n-2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            VISI
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when
                            looking at its layout. The point of using Lorem
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/n-3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            MISI
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when
                            looking at its layout. The point of using Lorem
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end news section -->

<!-- portfolio section -->

<section class="portfolio_section">
    <div class="container">
        <div class="custom_heading-container">
            <h2>
                Materi Utama
            </h2>
            <hr>
        </div>
        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-1.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-2.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-3.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-4.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-5.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="images/p-6.jpg" alt="">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end portfolio section -->

{% endblock %}