<div class="hero_area">
    <!-- info section -->
    <section class="info_section layout_padding">
        <div class="container">
            <div class="info_social">
                <div>
                    <a href="">
                        <img src="images/fb.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="images/twitter.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="images/linkedin.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="images/insta.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            Copyright&copy; 2022 All Rights By Patroli Keamanan Sekolah
        </p>
    </section>
    <!-- footer section -->
</div>